---json
{
  "permalink": "/feed.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Pip Foweraker</title>
  <subtitle>Essays and notes on technology, institutions, AI safety, and related topics.</subtitle>
  <link href="https://pipfoweraker.com/feed.xml" rel="self"/>
  <link href="https://pipfoweraker.com/"/>
  <updated>{{ collections.feed | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>https://pipfoweraker.com/</id>
  <author>
    <name>Pip Foweraker</name>
  </author>
  {%- for item in collections.feed %}
  <entry>
    <title>{{ item.data.title or item.fileSlug }}</title>
    <link href="https://pipfoweraker.com{{ item.url }}"/>
    <updated>{{ item.date | dateToRfc3339 }}</updated>
    <id>https://pipfoweraker.com{{ item.url }}</id>
    <content type="html">{{ item.templateContent | htmlToAbsoluteUrl("https://pipfoweraker.com" + item.url) }}</content>
  </entry>
  {%- endfor %}
</feed>
